@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #1A1423;
    --foreground: #fdfdfd;
    --radius: 0.5rem;
  }

  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground antialiased;
    line-height: 1.45;
  }

  p,
  li {
    line-height: 1.45;
  }
}

@layer utilities {
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
